/* Color Palette */
$primary-10: #f3f1fd;
$primary-20: #d6d1f2;
$primary-30: #b9adea;
$primary-40: #7965d8;
$primary-50: #5d42e6;
$primary-60: #4b399f;
$primary-70: #3f3084;
$primary-80: #2f2561;
$primary-90: #555ab9;

$secondary-10: #ebf6ff;
$secondary-50: #66baff;

$gray-0: #fff;
$gray-5: #fefeff;
$gray-10: #f6f8fa;
$gray-20: #eff3f6;
$gray-30: #e6e9ec;
$gray-40: #c6cbd1;
$gray-50: #aab1b8;
$gray-60: #8b95a1;
$gray-70: #6b7685;
$gray-80: #4d5565;
$gray-90: #30343e;
$gray-100: #000;

// Radius
$radius-2: 2px;
$radius-4: 4px;
$radius-6: 6px;
$radius-8: 8px;
$radius-12: 12px;

// Font Sizes
$font-size-12: 12px;
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
