:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

a {
  color: #646cff;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
